<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 引入属性配置文件 -->
    <bean class="com.myschool.utils.PropertiesUtil">
        <property name="locations">
            <list>
                <value>classpath:config/jdbc.properties</value>
                <value>classpath:config/system.properties</value>
            </list>
        </property>
    </bean>


    <!-- 配置事务管理器 -->
    <!--<bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource" />-->

    <!-- 对标注有@Transactional注解的类进行加工处理，以织入事务管理切面 -->
  <!--  <tx:annotation-driven transaction-manager="transactionManager" />-->

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.myschool">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 支持sync方法-->
    <task:annotation-driven/>

    <!-- 引入SPRING配置文件 -->
    <import resource="spring/*.xml"/>
</beans>